<%= form_with(model: page) do |form| %>
  <% if page.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
        <% page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= image_tag page.image.variant(resize_to_fill: [300, 300]) if page.image.attached? %>
  <% if page.image.attached? %>
    <br>
  <% end %>
  
  <br>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <br>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <% if page.new_record? %>
      <%= form.label :blog_id, style: "display: block" %>
      <%= form.select :blog_id, @blogs.map { |n| [n.name, n.id] }, { :include_blank => '-- Select One --' }, :required => true %>
    <% else %>
      <%= form.hidden_field :blog_id, value: @blog.id %>
    <% end %>
  <div>

  <div>
    <br>
    <%= form.submit %>
  </div>
<% end %>
